#root {
  position: relative;
  width: 100%;
  max-width: 776px;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.lkg-header {
  padding: 10px;
  font-size: 1.32rem;
  font-weight: bold;
  background: linear-gradient(#d6dceb, #eaeaea);

  span {
    font-size: small
  }
}

.lkg-playerboard {
  display: flex;
  min-height: 80px;
}

.lkg-playerboard__team {
  flex-basis: 25%;
  padding: 0 16px;

  &:nth-of-type(1) {
    background: linear-gradient(#ee1c2530, #ffffff);
  }

  &:nth-of-type(2) {
    background: linear-gradient(#2e31923d, #ffffff);
  }

  &:nth-of-type(3) {
    background: linear-gradient(#71bf4563, #ffffff);
  }

  &:nth-of-type(4) {
    background: linear-gradient(#fef2006e, #ffffff);
  }

  &.lkg-playerboard__team--active:nth-of-type(1) {
    background: linear-gradient(#ee1c25, #ff3546 90%)
  }

  &.lkg-playerboard__team--active:nth-of-type(2) {
    background: linear-gradient(#2e3192, #575dff 90%)
  }

  &.lkg-playerboard__team--active:nth-of-type(3) {
    background: linear-gradient(#71bf45, #b2e64a 90%)
  }

  &.lkg-playerboard__team--active:nth-of-type(4) {
    background: linear-gradient(#fef200, #ffff00 90%)
  }
}

.lkg-player-name {
  display: flex;
  justify-content: center;
  padding: 8px;

  input {
    width: 100%;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
}

.lkg-diceboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.lkg-diceboard__button {
  padding: 4px 8px;
  border-radius: 4px;

  &:hover {
    border-color: #000;
    box-shadow: 0 0 1px 1px #000;
  }
}

.lkg-diceboard__dice {
  width: 54px;
  height: 54px;
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 4px;
}

.lkg-board {
  position: relative;
  margin: auto;
  padding-bottom: 100%;
  text-align: center;

  background-image: url('./assets/ludo_safari.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.lkg-team:nth-of-type(1) path {
  fill: #ee1c25;
}

.lkg-team:nth-of-type(2) path {
  fill: #2e3192;
}

.lkg-team:nth-of-type(3) path {
  fill: #71bf45;
}

.lkg-team:nth-of-type(4) path {
  fill: #fef200;
}

.lkg-figure {
  position: absolute;
  width: 6.44%;
  height: 6.44%;
  transition: all 0.2s, top 0.7s, left 0.7s;
}

.lkg-figure--eligible {
  animation-name: scale-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  background-color: #fff;
  outline: 5px solid #fff;
  box-shadow: 0 0 2px 2px #fff;
  border-radius: 4px;
  cursor: pointer;
}

@keyframes scale-in-out {
  0% {
    transform: scale(1);
  }

  16.6% {
    transform: scale(1.1);
  }

  66.6% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.lkg-game-over {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

.lkg-game-over__message {
  font-size: 64px;
  color: white;
}

.lkg-game-over__reset {
  margin-bottom: 32%;
}

@media (max-width: 767px) {
  .lkg-playerboard__team--active {
    flex-basis: 100%;
  }

  .lkg-playerboard__team:not(.lkg-playerboard__team--active) {
    display: none
  }

  .lkg-game-over__message {
    font-size: 24px;
  }

}